/* README
   To make a horizontal navbar along the top of the window wrap a <ul>
   in a <nav> tag and have each <a> tag within an <li> as shown below:
    <nav>
        <ul>
            <li><img href='' alt='Company Logo'></li>
            <li><a href='?page=home'>Home</a></li>
            <li><a href="?page=about">Bio</a></li>
            <li><a href="?page=color">Colors</a></li>
        </ul>
    </nav>
   To make a text link appear as a button give it the id "linkButton" in
   its HTML tag.
*/

* {
  font-family: sans-serif;
}

body {
  background-color: whitesmoke;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

a {
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  margin: -10px;
  padding: 0;
  overflow: hidden;
  background-color: #1c5c28;
  border: 1px solid #14421d;
}

nav ul li {
  display: inline;
  float: left;
  border-right: 1px solid whitesmoke;
}

nav ul li a {
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  display: inline;
  display: block;
}

nav ul li a:hover {
  background-color: #2b863c;
}

a {
  background-color: #1c5c28;
  color: whitesmoke;
  padding: 10px 15px;
  border: 2px solid #14421d;
}

a:hover {
  background-color: #2b863c;
}


table {
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80vw;
  margin: 0 auto;
  text-align: center;
}
td {
  border: 1px solid black;
  height: 40px;
  text-align: center; 
}

#primaryColumn {
  width: 20%;
}

#uniformWidthColumn { 
  width: 2%;
}

select {
  width: 80%;
  height: 80%;
  font-size: large;
  text-align: center;
}

/*Adjust logo width as needed this is just a random value. Adjusting the width 
* should maintain the aspect ratio as long as you don't cahnge the height.
*/
#logo {
  width: 50px;
}

.colors td.selected {
  border: 3px solid blue;
}

/*table alignment, put table below header*/
.colors {
  position: absolute;
  top: 350px;
  margin-left: 50px;
}

.grid {
  position: absolute;
  top: 550px; 
  margin-left: 50px; 
}
